body{
    margin: 0;
    min-width: 1200px;
    min-height: 1900px;
    background: rgb(244,251,250);
    background: linear-gradient(0deg, rgba(244,251,250,1) 0%, rgba(162,225,219,1) 100%);
}


h1{
    line-height: 24px;
    letter-spacing: 2%;
    font-size: 72px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5%;
    text-align: center;
    color: #466a6d;
    text-shadow: 0px 4px 10px rgba(45, 186, 193, 0.8)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-logo {
    cursor: pointer;
}

.header-logo img{
    width: 285px;
    height: 85px;
    margin-top: 20px;
}

.topnav{
    overflow: hidden;
}

.topnav a {         
    float: left;
    padding: 22px;
    text-decoration: none;
    display: block;
    color: #466a6d;
    line-height: 24px;
    letter-spacing: 2%;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 2px 15px rgba(17, 179, 188, 0.767)
}
.topnav a:hover {
    font-size: 18px;
    font-weight: 700;
    text-shadow: none;
}

.sign-in{
    width: 102px;
    height: 46px;
    border-radius: 6px;
    border-width: thin;
    border-color: #466a6d;
    background-color: transparent;
    color: #466a6d;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal; 
    font-size: 16px;
    line-height: auto;
    letter-spacing: none;
    text-align: center;
}
.sign-in:hover {
    background-color: #466a6d61;
    color: white;
    cursor: pointer;
  }

.sign-up{
    width: 102px;
    height: 46px;
    margin-left: 14px;
    margin-right: 80px;
    border-radius: 6px;
    border-color: #466a6d;
    background-color: #466a6d;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal; 
    font-size: 16px;
    line-height: auto;
    letter-spacing: none;
    text-align: center;
}
.sign-up:hover {
    background-color: #466a6d61;
    color: white;
    cursor: pointer;
}


/*Responsiveness*/

@media screen and (max-width: 1800px) {
    
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 1800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

@media screen and (max-width: 768px) {
    .body {
        flex-direction: column;
        align-items: center;
        max-width: 10%;
    }

    .header-logo img {
        width: 150px;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        
    }

    .header-logo img {
        width: 150px;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }