main{
    min-width: 1200px;
    min-height: 1900px;
    background: rgb(244,251,250);
    background: linear-gradient(0deg, rgba(244,251,250,1) 0%, rgba(162,225,219,1) 100%);
}
main img{
    align-items: center;
   
}

h1{
    line-height: 24px;
    letter-spacing: 2%;
    font-size: 72px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5%;
    text-align: center;
    color: #466a6d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #a2e1db;

}
.header-logo {
    margin-left: 70px;
    cursor: pointer;
}

.header-logo img{
    width: 285px;
    height: 85px;
    margin-top: 20px;
}
.navbar {
    flex-grow: 0.7;

}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}
ul li {
    float: left;
    padding: 22px;

}
li a {         
    text-decoration: none;
    display: block;
    color: #466a6d;
    line-height: 24px;
    letter-spacing: 2%;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
li a:hover {
    font-size: 30px;
}


.sign-in{
    width: 102px;
    height: 46px;
    border-radius: 6px;
    border-width: thin;
    border-color: #466a6d;
    background-color: transparent;
    color: #466a6d;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal; 
    font-size: 16px;
    line-height: auto;
    letter-spacing: none;
    text-align: center;
}
.sign-in:hover {
    background-color: #466a6d61;
    color: white;
  }

.sign-up{
    width: 102px;
    height: 46px;
    margin-left: 14px;
    margin-right: 100px;
    border-radius: 6px;
    border-color: #466a6d;
    background-color: #466a6d;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal; 
    font-size: 16px;
    line-height: auto;
    letter-spacing: none;
    text-align: center;
}
.sign-up:hover {
    background-color: #466a6d61;
    color: white;
}